* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f3e5ab;
  text-align: center;
}

#h1 {
  background-color: #00000050;
  border-radius: 5px;
  font-size: 10vmin;
  text-align: center;
  margin: 1vmin 1vmin 2.5vmin;
}

#p {
  font-size: 3.5vmin;
  font-weight: 525;
}

.container {
  margin: 15px;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60vmin;
  height: 60vmin;
  gap: 2vmin;
}

.box {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  width: 18vmin;
  height: 18vmin;
  border-radius: 10px;
  border: none;
  font-size: 10vmin;
  background-color: white;
  font-size: 10vmin;
}

.box:hover {
  cursor: pointer;
}
#reset-btn {
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background-color: #191913;
  color: white;
  font-size: 4vmin;
  margin: 15px 0 25px 0;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#new-btn {
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  background-color: #191913;
  color: white;
  font-size: 4vmin;
}

#msg-win {
  color: black;
  font-size: 5vmin;
  padding: 6px;
  font-weight: bold;
}

.hide {
  display: none;
}
